<h1>Here are all the recipes</h1>

<% @recipes.each do |recipe| %>
  <a href="/recipes/<%= recipe.id %>"><h2><%= recipe.title %></h2>
  <h3><%= recipe.ingredient_list %></h3>
  <h4><%= recipe.instructions %></h4></a>
  <hr>
<% end %>